
<div id="login-box">
	<h2>Login Here</h2>
	<div style="color : red" *ngIf='error'>{{error}}</div>
	<form name='loginForm' (submit)="doLogin()">
		<table>
			<tr>
				<td>User:</td>
				<td><input type='text' name='email' [(ngModel)]="email"></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type='password' name='password' [(ngModel)]="password"/></td>
			</tr>
			<tr>
				<td colspan='2'><input name="submit" type="submit"
					value="Login" /></td>
			</tr>
		</table>
	</form>
</div>
<button (click)="doRegister()" class="btn btn-info" style="margin-left: 20px">Regis</button>
            
