<div class="panel-heading">
    <h2>Reservation List</h2>
    </div>
    <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Client Email</th>
        <th>Movie Name</th>
        <th>Seat</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let res of reservations | async">
        <td>{{res.userEmail}}</td>
        <td>{{res.movieName}}</td>
        <td>{{res.id}}</td>
        <td><button (click)="deleteReservation(res.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <p>{{nrCl}}</p>
  </div>