<h2>Movie Details</h2> 

<hr/>
<div *ngIf="movie">
  <div>
    <label><b>Movie Name </b></label> {{movie.movieName}}
  </div>
  <div>
    <label><b>Director Name </b></label> {{movie.directorName}}
  </div>
  <div>
    <label><b>Ticket Price </b></label> {{movie.ticketPrice}}
  </div>  
  <div style="color : red" *ngIf='error'>{{error}}</div>
  <form (ngSubmit)="onSubmit(movie.id)">
  <div class="form-group">
    <label for="name">Credit Card Info</label>
    <input type="text" class="form-control" id="creditCardInfo"  [(ngModel)]="creditCardInfo" name="creditCardInfo">
  </div>
  <button type="submit" class="btn btn-success" >Submit</button>
</form>
</div>

<br>
<br>