<h3>Leave a review</h3>

<div class="panel-heading">
  <h2>Reviews</h2>
</div>
<div class="panel-body">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="margin-left: 0px">User</th>
        <th style="margin-left: 20px">Rating</th>
        <th style="margin-left: 30px">Review</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rev of reviews | async">
        <td style="margin-left: 0px">{{rev.clientName}}</td>
        <td style="margin-left: 20px">{{rev.rating}}</td>
        <td style="margin-left: 30px">{{rev.review}}</td>
      </tr>
    </tbody>
  </table>
  </div>

<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Your review:</label>
      <input type="text" class="form-control" id="review"  [(ngModel)]="review.review" name="review">
      <label for="name">Your rating:</label>
      <input type="text" class="form-control" id="rating"  [(ngModel)]="rating" name="rating">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
<div style="color : red" *ngIf='error'>{{error}}</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>