<div class="panel panel-primary">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Find By Genre</label>
        <input type="text" class="form-control" id="genre"  [(ngModel)]="genre" name="genre">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <form (ngSubmit)="onSubmit2()">
      <div class="form-group">
        <label for="name">Find By Director Name</label>
        <input type="text" class="form-control" id="directorName"  [(ngModel)]="directorName" name="directorName">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <div class="panel-heading">
        <h2>Movie List</h2>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Movie Name</th>
              <th>Director Name</th>
              <th>ticket Price</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movie of movies | async">
              <td>{{movie.movieName}}</td>
              <td>{{movie.directorName}}</td>
              <td>{{movie.ticketPrice}}</td>
              <td>
                  <button (click)="movieDetails(movie.id)" class="btn btn-info" style="margin-left: 10px">Buy Ticket</button>
                  <button (click)="onTrim(movie.id)" class="btn btn-info" style="margin-left: 20px">Reservation</button>
                  
                <button (click)="crRev(movie.id)" class="btn btn-info" style="margin-left: 30px">Review</button>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Movie Name</th>
              <th>Director Name</th>
              <th>ticket Price</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movie of gnMov | async">
              <td>{{movie.movieName}}</td>
              <td>{{movie.directorName}}</td>
              <td>{{movie.ticketPrice}}</td>
              <td>
                  <button (click)="movieDetails(movie.id)" class="btn btn-info" style="margin-left: 10px">Buy Ticket</button>
                  <button (click)="onTrim(movie.id)" class="btn btn-info" style="margin-left: 20px">Reservation</button>
              </td>
            </tr>
          </tbody>
        </table>
        <p><a style="text-decoration: underline; cursor: pointer;" (click)=doLogout()>Logout</a></p>
      </div>
    </div>
    <button (click)="myResvs()" class="btn btn-info" style="margin-left: 20px">Reservations</button>
    