<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Notif</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div style="color: blue; text-align: center">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>

  <div class="container" style="width: 400px; margin-top: 20px;">

    

    <table id="conversation" class="table table-striped" style="margin-top: 20px;">
      <thead>
        <tr>
          <th>New Movies</th>
        </tr>
      </thead>
      <tbody *ngFor="let movie of movies| async">
        <tr>
          <td>{{movie.movieName}}</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>YourReservations</th>
        </tr>
      </thead>
      <tbody *ngFor="let mv of todMovies| async">
        <tr>
          <td>{{mv.movieName}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</body>

</html>