<h3>Create Movie</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Movie Name</label>
      <input type="text" class="form-control" id="movieName"  [(ngModel)]="movie.movieName" name="movieName">
    </div>

    <div class="form-group">
      <label for="name">Director Name</label>
      <input type="text" class="form-control" id="directorName"  [(ngModel)]="movie.directorName" name="directorName">
    </div>
    
    <div class="form-group">
      <label for="name">Genre</label>
      <input type="text" class="form-control" id="genre"  [(ngModel)]="movie.genre" name="genre">
    </div>

    <div class="form-group">
      <label for="name">Ticket Price</label>
      <input type="text" class="form-control" id="ticketPrice"  [(ngModel)]="movie.ticketPrice" name="ticketPrice">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
   <button class="btn btn-success" (click)="newMovie()">Add</button>
</div>