<div class="panel panel-primary">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Find By Genre</label>
      <input type="text" class="form-control" id="genre"  [(ngModel)]="genre" name="genre">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <form (ngSubmit)="onSubmit2()">
    <div class="form-group">
      <label for="name">Find By Director Name</label>
      <input type="text" class="form-control" id="directorName"  [(ngModel)]="directorName" name="directorName">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <div class="panel-heading">
      <h2>Movie List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Movie Name</th>
            <th>Director Name</th>
            <th>ticket Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of movies | async">
            <td>{{movie.movieName}}</td>
            <td>{{movie.directorName}}</td>
            <td>{{movie.ticketPrice}}</td>
            <td><button (click)="deleteMovie(movie.id)" class="btn btn-danger">Delete</button>
                <button (click)="movieDetails(movie.id)" class="btn btn-info" style="margin-left: 10px">Buy Ticket</button>
                <button (click)="onTrim(movie.id)" class="btn btn-info" style="margin-left: 20px">Reservation</button>
                <button (click)="crRev(movie.id)" class="btn btn-info" style="margin-left: 30px">Review</button>
              </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Movie Name</th>
            <th>Director Name</th>
            <th>ticket Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of gnMov | async">
            <td>{{movie.movieName}}</td>
            <td>{{movie.directorName}}</td>
            <td>{{movie.ticketPrice}}</td>
            <td><button (click)="deleteMovie(movie.id)" class="btn btn-danger">Delete</button>
                <button (click)="movieDetails(movie.id)" class="btn btn-info" style="margin-left: 10px">Buy Ticket</button>
                <button (click)="onTrim(movie.id)" class="btn btn-info" style="margin-left: 20px">Reservation</button>
                <button (click)="crRev(movie.id)" class="btn btn-info" style="margin-left: 30px">Review</button>
            </td>
          </tr>
        </tbody>
      </table>
      <p><a style="text-decoration: underline; cursor: pointer;" (click)=doLogout()>Logout</a></p>
      <button (click)="goToAdd()" class="btn btn-info" style="margin-left: 20px">Add</button>
      
    </div>
  </div>
  <div class="panel-heading">
    <h2>Client List</h2>
    </div>
    <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Client Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clients | async">
        <td>{{client.email}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="panel-heading">
    <h2>Reservation List</h2>
    </div>
    <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Client Email</th>
        <th>Movie Name</th>
        <th>Seat</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let res of rsrv | async">
        <td>{{res.userEmail}}</td>
        <td>{{res.movieName}}</td>
        <td>{{res.id}}</td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="nrCl | async as nrb">
      <td>{{nrb}}</td>
    </div>
  </div>
  <button (click)="goToNotif()" class="btn btn-info" style="margin-left: 20px">Notif</button>
  <button (click)="myResvs()" class="btn btn-info" style="margin-left: 20px">Reservations</button>