<h3>Register</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" id="email"  [(ngModel)]="client.email" name="email">
    </div>

    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName"  [(ngModel)]="client.firstName" name="firstName">
    </div>
    
    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName"  [(ngModel)]="client.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">Password</label>
      <input type="text" class="form-control" id="password"  [(ngModel)]="client.password" name="password">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
   <button class="btn btn-success" (click)="newclient()">Add</button>
</div>