<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
                     xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container text-center">
    <h3>You have signed up successfully!</h3>
    <div sec:authorize="hasAuthority('ADMIN')">
        <a href="/new">Add new Movie</a>
    </div>
    <h4><a th:href="@{/clients}">Click here to View Movies</a></h4>
</div>

</body>
</html>