<h3>Update Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Movie Name</label>
      <input type="text" class="form-control" id="movieName" required [(ngModel)]="movie.movieName" name="movieName">
    </div>

    <div class="form-group">
      <label for="name">Director Name</label>
      <input type="text" class="form-control" id="directorName" required [(ngModel)]="movie.directorName" name="directorName">
    </div>

    <div class="form-group">
      <label for="name">Ticket Price</label>
      <input type="text" class="form-control" id="ticketPrice" required [(ngModel)]="movie.ticketPrice" name="ticketPrice">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>